<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/gift.css">
<%- include('../partials/nav') %>

<section>
    <h1>Here are some details for "<%= gift.name %>"</h1>
    <h3>
        Price:
        $<%= gift.price %>
    </h3>
    <p>
       Notes:<br />
       <div id='gift-notes'><%= gift.note %></div>
    </p>
    <p>
        Priority:
        <%= gift.priority %>/5
    </p>
    <div id='glink-container'>
        <p>
            Link:<br />
            <a href="<%= gift.url %>" target='_blank'><%= gift.name %></a>
        </p>
    </div>
    <% if (profile._id.equals(user?.profile._id)) { %>
        <p>
            <form action='/profiles/<%= profile._id %>/<%= gift._id %>?_method=DELETE' method='post'>
                <button type='submit' class='btn btn-primary' id='dlt-btn'>Delete</button>
            </form>
        </p>
    <% } %>
</section>

<%- include('../partials/footer') %>




















<!-- NEW AND SHOW MIGHT HAVE TO BE SWITCHED FOR GIFTS -->