<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/gift.css">
<%- include('../partials/nav') %>

<section>
    <h1>Details for <%= gift.name %></h1>
    <h3>
        Price:<br />
        $<%= gift.price %>
    </h3>
    <p>
       Notes:<br />
       <%= gift.note %>
    </p>
    <p>
        Priority:<br />
        <%= gift.priority %>/5
    </p>
    <p>
        Link: <a href="<%= gift.url %>" target='_blank'><%= gift.name %></a>
    </p>
    <% if (profile._id.equals(user?.profile._id)) { %>
        <p>
            <form action='/profiles/<%= profile._id %>/<%= gift._id %>?_method=DELETE' method='post'>
                <button type='submit'>Delete</button>
            </form>
        </p>
    <% } %>
</section>

<%- include('../partials/footer') %>




















<!-- NEW AND SHOW MIGHT HAVE TO BE SWITCHED FOR GIFTS -->