<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sites/index.css">
<%- include('../partials/nav') %>

<section>
    <h1>Shopping Site Recommendations</h1>
    <% if (user) { %>
        <h2>Add a site recommendation <a href='sites/new'>HERE</a></h2>
    <% } %>
    <h3>Check Out People's Most Recommended Shopping Sites</h3>
    <ul id='sites-list'>
        <% sites.forEach(site => { %>
            <li>
                <a href="/sites/<%= site._id %>"><%= site.name %></a>
            </li>
       <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>