<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Shopping Site Recommendations</h1>
    <% if (user) { %>
        <h2>Add a site recommendation here</h2>
        <form action='/sites' method="POST">
            <label>
                Site Name:
                <input type='text' name='name' autocomplete="off">
            </label>
            <button type='submit'>Add Site</button>
        </form>
    <% } %>
    <h3>View Peoples Most Recommended Shopping Sites Here!</h3>
    <ul>
        <% sites.forEach(site => { %>
            <li>
                <a href="/sites/<%= site._id %>"><%= site.name %></a>
            </li>
       <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>