<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>A Site Review of <%= site.name %> by <%= site.owner.name %></h1>
    <form action='/sites/<%= site._id %>' method="POST">
        <label for='description'>Add A Description</label>
        <input type='text' id='description' placeholder='Description' name='description' required minlength="5" maxlength="150" size='20'>
        <button type='submit'>Add</button>
    </form>
</section>

<%- include('../partials/footer') %>