<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>A Site Review of <%= site.name %> by <%= site.owner.name %></h1>
</section>

<%- include('../partials/footer') %>