<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>A Site Review of <%= site.name %> by <%= site.owner.name %></h1>
    <p>Description: <%= site.description %></p>
    <p>Link: <a href="<%= site.url %>" target='_blank'><%= site.name %></a></p>
</section>

<%- include('../partials/footer') %>